* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:#f5f5f5;
    margin: 0;
    padding: 0;

  }
  
  .navbar {
    display: flex;
    align-items: center;
    background-color: #5b4db3;
    color: white;
    padding-right: 300px;
  }
  
  .menu-button-open {
    margin-left: 1rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }

  .menu-button-open:hover {
    color: lightgray;
  }

  .menu-button-close {
    margin: 1rem 0 1rem 1rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-weight: bold;
  }

  .menu-button-close:hover {
    color: black;
  }

  .search-input {
    padding: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 85%;
  }

  .search-input:hover {
    border-color: #b9b7b7;
  }
  
  .search-results {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
  }

  .sidebar {
    width: 250px;
    background-color: #fff;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 900;
    overflow-y: auto;
  }
  
  .sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-item {
    margin-bottom: 0.5rem;
  }

  .menu-item:hover {
    background-color: #f0eded;
  }
  
  .menu-link {
    background: none;
    border: none;
    color: #333;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    width: 100%;
    display: block;
  }
  
  .submenu {
    list-style: none;
    padding:0;
    margin: 0;
  }
  
  .submenu-item {
    padding-bottom: 0.5rem;
  }

  .submenu-item:hover {
    background-color: #f0eded;
  }
  
  .submenu-link {
    background: none;
    border: none;
    color: #555;
    font-size: 0.9rem;
    cursor: pointer;
    width: 100%;
    text-align: left;
    display: block;
    padding-left: 1.5rem;
  }

  /*before*/
  .main-content {
    flex-grow: 1;
    margin-left: 0;
    padding: 2rem;
    transition: margin-left 0.3s;
  }
  
  .main-content.menu-open {
    margin-left: 250px;
  }
  

  .card-row, .chart-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Adds space between cards */
    margin-bottom: 1rem;
  }
  .card {
    flex: 1; /* Allows cards to grow evenly within their row */
    background-color: #fff;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
 
  .generalInfo-card {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
  }
  
  .card h3 {
    margin-top: 0;
    font-size: 1.25rem;
  }
  
  .card p {
    font-size: 1.5rem;
    color: #333;
  }
  