* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #f5f5f5;
}

.dashboard-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:#f5f5f5;
    margin: 0;
    padding: 0;

    width: 100%;
    position: absolute;
    right: 0;
}

/* Top Navigator */
.navbar {
    display: flex;
    align-items: center;
    background-color: #5b4db3;
    color: white;
    padding-right: 1rem; /*TODO: oder in die mitte?? wie mache ich das??*/
}

.menu-button-open {
    margin-left: 1rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.menu-button-open:hover {
    color: lightgray;
}

.menu-button-close {
    margin: 1rem 0 1rem 1rem;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #333;
    cursor: pointer;
    font-weight: bold;
}

.menu-button-close:hover {
    color: black;
}

/* Side Menu */
.sidebar {
    width: 250px;
    background-color: #fff;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.1);
    z-index: 900;
    overflow-y: auto;
}

.sidebar-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-item {
    margin-bottom: 0.5rem;
}

.menu-item:hover {
    background-color: #f0eded;
}
  
.menu-link {
    background: none;
    border: none;
    color: #333;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    width: 100%;
    display: block;
}

/* Main Content */
.main-content {
    flex-grow: 1;
    padding: 2rem 3rem 2rem 3rem;
    transition: margin-left 0.3s;
}

.main-content.menu-open {
    margin-left: 250px;
}







