* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f9fafb;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}


footer {
    color: #fff;
    font-size: 0.875rem;
}

h1 {
    font-weight: 700;
}


.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 20%;

    width: 100%;
    position:fixed;
    right:0;
}

#main-header {
    font-size: 80px;
    font-family: 'Copperplate', fantasy;
    color: #5b4db3;
    text-shadow: 5px 5px 10px #8880b984;
}

.custom-btn {
    background-color: #bcb3f7; 
    color: white; 
    border-radius: 23px; 
    border: none; 
    transition: background-color 0.3s ease; 
}

.custom-btn:hover {
    background-color: #867ac8;
    transform: translateY(-1px);
}
